.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-start{
    display: flex;
    justify-content:flex-start ;
}
.flex-space{
    display: flex;
    justify-content: space-between
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
a{
    color: white;
    text-decoration: none;
}
button{
    padding: .8rem 2rem;
    font-weight: bold;
    border: none;
}
.rotate{
    transform: rotate(-90deg);
    @media(max-width:768px){
        transform: rotate(0deg);
    }
}
.p-color{
    background-color: rgb(89,6,150);
    color:white;
    font-weight: bold;
}
h2{
    font-size: 46px;
    line-height: 56px;
    font-family: "Josefin Sans", sans-serif;
}
.align{
    text-align: center;
}
h3{
    font-size: 24px;
    line-height: 30px;
    font-family: "Josefin Sans";;
    padding-top: .8rem;
}
h5{
    padding-top: 1rem;
    font-size: 16px;
    font-family: "Josefin Sans";
}
.sub-title{
    font-family: "Josefin Sans";
    font-size: 31px;
    line-height: 36px;
    font-style: normal;
}
.abt-details{
    font-family: "Josefin Sans";
    font-size: 18px;
    line-height: 27px;
}
span{
    color: rgb(88,0,255);
}
.bl-btn{
    background-color: black;
    border-radius: .6rem;
    color: white;
}
.drop-down{
    background-color:black;
    z-index: 400;
    width: 200px;
    display: none;
    position: absolute;
    top: 40px;
    padding: 1rem 4rem;
    color: white;
}
.portfolio ,.blog{
    position: relative;
    display: inline-block;
}
.portfolio:hover .drop-down,.blog:hover .drop-down {
    display: block;
}
.blog-men{
    margin-left: 2rem;
}
.portfolio svg,.blog svg{
    align-items: center;    
    position: absolute;
}
.portfolio svg:hover, .blog svg:hover {
    transform: rotate(-180deg);
}
.right-abt .hire-btn i{
    color: white;
    font-size: 1.2rem;
    transform: rotate(50deg);
}
