.latest-work{
    background-color: #0F0B12;
    width: 100%;
    z-index: 2;
    .top-latest-work{
        width: 100%;
        padding-top: 5rem;
    }
    .bottm-latest-work{
        width: 100%;
        padding: 2rem 6rem;
        flex-wrap: wrap;
        gap: 1.4rem;
        @media(max-width:768px){
            // flex-direction: column;
            padding: 2rem 2rem;
        }
        .card{
            width: 31%;
            position: relative;
            border-radius: .6rem;
            overflow: hidden;
            @media(max-width:768px){
                width: 100%;
            }
            .img-text{
                background-color: white;
                position: absolute;
                bottom: 0;
                padding: 1rem 2rem;
                color: black;
                width: 100%;
                opacity: 0;
                @media(max-width:768px){
                    width: 98%;
                }
                &:hover{
                    animation: 5s ease-in;
                    opacity: 1;
                    @keyframes scroll {
                        0%{
                            bottom: 0;
                        }
                        50%{
                            bottom: 100;
                        }
                    }
                }
            }
            img{
                width: 100%;
                @media(max-width:768px){
                    width: 98%;
                }
            }

        }
    }
}