.services{
    margin-top: 4rem;
    width: 100%;
    padding: 5rem 1rem;
    background-color: rgb(14,10,17);
    gap: 1rem;
    align-items: center;
    @media(max-width:768px){
        flex-direction: column;
        padding: 2rem .1rem;
    }
    .left-services{
        gap: 2rem;
        flex-direction: column;
        padding-left: 3rem;
        width: 40%;
        @media(max-width:768px){
            width: 100%;
            padding-left: .5rem;
        }
        h2{
            font-size: 46px;
            line-height: 56px;
            br{
                @media(max-width:768px){
                    display: none;
                }
            }
        }
        p{
            line-height: 27px;
            @media(max-width:768px){
                width: 90%;
            }
        }
        button{
            width: 45%;
            i{
                transform: rotate(40deg);
                font-size: 1.5rem;
            }
        }
    }
    .right-services{
        width: 55%;
        flex-wrap: wrap;
        // background-color: green;
        gap: 2rem;
        @media(max-width:768px){
            width: 100%;
        }
        .card{
            width: 45%;
            padding: 2.3rem 2.1rem;
            gap: 1rem;
            flex-direction: column;
            text-align: center;
            background-color: rgb(0,0,0);
            border-radius: .5rem;
            @media(max-width:768px){
                width: 90%;
            }
            img{
                width: 25%;
                align-items: center;
                @media(max-width:768px){
                    width: 20%;
                }
            }
            p{
                text-align: center;
                line-height: 22px;
            }
        }
    }
}