*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import"globalClasses";
@import"latestWork";
@import"about";
@import"services";
@import"trusted";
@import"happy-sectn";
@import"conctact";
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(22,18,26);
    color: white;
    width: 100vw;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
}
.container{
    width: 100%;
    padding: 1rem 3rem;
    @media(max-width:768px){
        padding: 1rem 0rem;
    }
    .mobo-nav{
        width: 100%;
        display: none;
        z-index: 100;
        @media(max-width:768px){
            display: block;
            top: 0;
            position: fixed;
            width: 100%;
            display: flex;
            padding-top: 2rem;
            padding-left: 1rem;
            padding-bottom: 1rem;
            justify-content: space-between;
            background-color: rgb(22,18,26)
            
        }
        .mobo-log{
            width: 50%;
            img{
                width: 70%;
            }
        }
        .mobo-menu{
            width: 50%;
            gap: 2rem;
            .p-color{
                width: 100px;
                border-radius: 2rem;
                padding: .5rem .3rem;
            }
        }
    }
    .nav{
        width: 100%;
        color: white;
        top: 0;
        gap: 1rem;
        position: fixed;
        padding: 1rem 1rem;
        background-color: rgb(22,18,26);
        z-index: 100;
        // background-color: red;
        @media(max-width:768px),(max-width: 400px){
            width:100% ;
            display: none;
            padding: 1rem 1rem;
        }
        font-weight: bold;
        .left-nav{
            gap: 2rem;
            width: 10%;
             @media(max-width:768px),(max-width: 400px){
                width:100% ;
        }
            img{
                width: 130px;
            }
        }
        .right-nav{
            gap: 1.4rem;
            width: 90%;
            @media(max-width:768px){
                display: none;
            }
            a{
                font-size: 16px;
                line-height: 27px;
                button{
                    border-radius: 2rem;
                }
            }
            svg{
                width: 20px;
            }
        }
    }
    
}
.work{
    width: 100%;
    @media(max-width:768px){
        flex-direction: column;
        width: 100%;
    }
    .side-work-menu{
        width: 5%;
        z-index: 0;
        // background-color: red;
        gap: 1rem;
        flex-direction: column;
        @media(max-width:768px){
            order: 2;
            width: 100%;
            flex-direction: row;
            padding-top: 1rem;
        }
        svg{
            width: 18px;
        }
        .line{
            width: 30px;
            height: 3px;
            background-color: rgb(253, 253, 253);
        }
        p{
            width: 140px;
            // background-color: rebeccapurple;
            
        }
    }
    .main-work-menu{
        gap: 1rem;
        width: 95%;
        @media(max-width:768px){
            flex-direction: column;
        }
        .left-main{
            width: 50%;
            font-weight: bold;
            padding-left: 2rem;
            padding-top: 10rem;
            gap: 2rem;
            flex-direction: column;
            @media(max-width:768px){
                width: 100%;
                order: 2;
                padding-left: 1rem;
                padding-top: 3rem;
            }
            i{
                transform: rotate(25deg);
            }
            h1{
                width: 100%;
                font-size: 70px;
                line-height: 80px;
                @media(max-width:768px){
                    font-size: 40px;
                    line-height: 50px;
                    width: 100%;
                }
            }
        }
        .right-main{
            width: 50%;
            padding-top: 7rem;
            
            @media(max-width:768px),(max-width: 200px){
                order: 1;
                width: 100%;
                padding-left: 1.5rem ;
                padding-top: 8rem;
            }
            img{
                @media(max-width:768px),(max-width: 200px){
                    width: 100%;
                }
                width: 78%;
            }
        }
    }
}
